<%-include('../../views/partials/user/header')%>


<main class="main page-404">
    <div class="container">
        <div class="row align-items-center height-100vh text-center">
            <div class="col-lg-8 m-auto">
                <p class="mb-50"><img src="evara-frontend/assets/imgs/theme/404.png" alt="" class="hover-up"></p>
                <h2 class="mb-30"><%=message%></h2>
                <p class="font-lg text-grey-700 mb-30">
                    <%=subMessage%><br>
                   
                </p>
                <!-- <form class="contact-form-style text-center" id="contact-form" action="#" method="post">
                    <div class="row">
                        <div class="col-lg-6 m-auto">
                            <div class="input-style mb-20 hover-up">
                                <input name="name" placeholder="Search" type="text">
                            </div>
                        </div>
                    </div> -->
                    <a class="btn btn-default submit-auto-width font-xs hover-up" href="/">Back To Home Page</a>
                </form>
            </div>
        </div>
    </div>
</main>






<%-include('../../views/partials/user/footer')%>